header {
  background-color: #70259B;
  padding: 10px 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  position: relative;

}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: grey;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.header-button {
  background-color: white;
  border-radius: 50px;
  width: 96px;
  height: 37px;
  color: #70259B;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-button:hover {
  background-color: grey;
  color: white;
}